@import "variables";
@import 'mixins';

//Flexbox
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
}

//Visibility
.hide-for-mobile {
  //hide for tablet and mobile
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  //hide for desktop viewport widths
  @include breakpoint-up(large) {
    display: none;
  }
}

//Hide Button for mobile
#hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none;
  }
}

