@import "variables";
@import 'mixins';

//Flexbox
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
}

// .bottom-shadow {
//   -webkit-box-shadow: 0 6px 4px -5px #888888;
//   -moz-box-shadow: 0 6px 4px -5px #888888;
//   box-shadow: 0 6px 4px -5px #888888;
// }

//Visibility
// .hide-for-mobile {
//   //hide for tablet and mobile
//   @include breakpoint-down(medium) {
//     display: none;
//   }
// }

// .hide-for-desktop {
//   //hide for desktop viewport widths
//   @include breakpoint-up(large) {
//     display: none;
//   }
// }