// #courses:hover {
//   .courses {
//     transition: all 0.2s linear;
//     transform: rotate(-180deg);
//     transform-origin: center center;
//   }
// }

// #mcqs:hover {
//   .mcqs {
//     transition: all 0.2s linear;
//     transform: rotate(-180deg);
//     transform-origin: center center;
//   }
// }

// #formulas:hover {
//   .formulas {
//     transition: all 0.2s linear;
//     transform: rotate(-180deg);
//     transform-origin: center center;
//   }
// }

// #formula-calculator:hover {
//   .formula-calculator {
//     transition: all 0.2s linear;
//     transform: rotate(-180deg);
//     transform-origin: center center;
//   }
// }

#projects:hover {
  .projects {
    transition: all 0.2s linear;
    transform: rotate(-180deg);
    transform-origin: center center;
  }
}